body {
	font-family: 'Roboto', 'Arial', sans-serif;
}

.visually__hidden {
	position: absolute;
	clip: rect(0 0 0 0);
	width: 1px;
	height: 1px;
	margin: -1px;
}


/*-----HEADER-----*/
.main__header {
	background-color: #eeeeee;
}

.main__menu {
	display: flex;
	justify-content: space-between;

	width: 1160px;
	height: 65px;
	margin: 0 auto;
	padding-top: 49px;
}

.main__menu__list {
	display: flex;

	width: 441px;
	margin: 0;
	padding: 31px 0 0 0;
}

.main__menu__list li:first-child {
	padding-right: 46px;
}

.main__menu__list li:nth-child(2) {
	padding-right: 47px;
}

.main__menu__list li:last-child {
	padding-left: 46px;
}


.user__menu__list {
	display: flex;
	justify-content: space-between;

	width: 115px;
	padding-top: 31px;
	margin: 0;
}

.user__cart {
	padding-top: 2px;
}

.main__menu__list,
.user__menu__list {
	list-style: none;
}

.main__menu__list a,
.user__menu__list a {
	color: #000;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 16px;
}

.main__menu__list a:hover,
.main__menu__list a:focus,
.user__menu__list a:hover,
.user__menu__list a:focus {
	color: #fb565a;
}

.main__menu__list a:active,
.user__menu__list a:active {
	color: #b4b4b4;
} 

a.active::after {
	display: block;

	content: "";

	position: relative;
	left: 0px;	
	bottom: -9px;

	height: 2px;

	background: #fb565a;

}
/*-----END HEADER-----*/

/*-----SLIDER-----*/
.container {
	width: 1200px;
	margin: 0 auto;
	padding: 0 20px;
	box-sizing: border-box;
}

.slider {
	position: relative;

	background-color: #eeeeee;
}

.slider__controls {
	position: absolute;
	left: 50%;
	bottom: 104px;
	z-index: 100;

	width: 160px;
	height: 18px;

	text-align: center;
	font-size: 0;
	transform: translateX(-50%);
}

.slider__controls label {
	position: relative;

	display: inline-block;
	width: 18px;
	height: 18px;
	padding: 8px;

	border-radius: 50%;
	cursor: pointer;
}

.slider__controls label::after {
	content: "";

	position: absolute;
	top: 8px;
	left: 8px;
	z-index: 1;

	width: 18px;
	height: 18px;

	background: #ffffff;

	border-radius: 50%;
}

.slider__list {
	margin: 0;
	padding: 0;

	list-style: none;
}

.slider__item {
	display: none;
	padding: 78px 0 80px 0;
}

.slider__item:nth-child(1) {
	background-image: url("../img/slider/slide1.png");
	background-repeat: no-repeat;
	background-position: 93% 18px;
}

.slider__item:nth-child(2) {
	background-image: url("../img/slider/slide2.png");
	background-repeat: no-repeat;
	background-position: 100% 0;
}

.slider__item:nth-child(3) {
	background-image: url("../img/slider/slide3.png");
	background-repeat: no-repeat;
	background-position: 100% 20px;
}

.product__1:checked ~ .slider__list .slider__item:nth-child(1) {
	display: block;
}

.product__2:checked ~ .slider__list .slider__item:nth-child(2) {
	display: block;
}

.product__3:checked ~ .slider__list .slider__item:nth-child(3) {
	display: block;
}

.product__1:checked ~ .slider__controls .slider__controls__item__1::before,
.product__2:checked ~ .slider__controls .slider__controls__item__2::before,
.product__3:checked ~ .slider__controls .slider__controls__item__3::before {
	content: "";
	position: absolute;
	left: 50%;
	top: 50%;
	z-index: 2;
	width: 4px;
	height: 4px;
	margin: -4px;
	background-color: inherit;
	border: 2px solid #c1c1c1;
	border-radius: 50%;
}

.slider__item h3 {
	max-width: 600px;
	margin: 0;
	margin-bottom: 25px;

	font-size: 55px;
	line-height: 55px;
	font-weight: 500;
}

.slider__item p {
	color: #283136;
	line-height: 24px;

	max-width: 430px;
	margin: 0;
	margin-bottom: 40px;
}

.slider .button {
	display: block;
	width: 240px;
	padding: 16px 0;

	font-size: 16px;
	line-height: 18px;
	color: #ffffff;
	text-transform: uppercase;
	text-align: center;
	text-decoration: none;

	background-color: #fb565a;
	border-radius: 3px;
	border: none;
}

.slider .button:hover,
.button:focus {
	background-color: #e74246;
}

.slider .button:active {
	background-color: #d7373b;
	color: rgba(255, 255, 255, 0.3);
	box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;
}

/*-----END SLIDER-----*/

/*------FEATURE------*/
.features {
	width: 1160px;	
	margin: 0 auto;
	padding: 80px 0 0 0;
}

.features ul {
	display: flex;
	justify-content: space-between;

	list-style: none;

	width: 1100px;
	padding: 0;
	margin: 0 0 97px 0;
}	

.feature__img {
	width: 300px;
	height: 146px;
}

.features li:first-child .feature__img {
	background-image: url(../img/laptop__bg.png);
}

.features li:nth-child(2) .feature__img {
	background-image: url(../img/phone__bg.png);
}

.features li:last-child .feature__img {
	background-image: url(../img/graph__bg.png);
}

.features h3 {
	text-transform: uppercase;
	font-size: 24px;
	line-height: 30px;

	margin: 24px 0 15px 0;
}

.features p {
	font-size: 16px;
	line-height: 24px;
	color: #283136;

	width: 280px;
	padding-bottom: 32px;
}

.order__btn {
	text-decoration: none;
	text-transform: uppercase;
	color: #ffffff;

	padding: 15px 41px 16px 40px;

	border-radius: 2px;
}

.order__btn:active {
	color: rgba(255, 255, 255, 0.3);
}

.red__color {
	background-color: #fb565a;
}

.red__color:hover,
.red__color:focus {
	background-color: #e74246;
}

.red__color:active {
	box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
	background-color: #d7373b;
}

.green__color {
	background-color: #00ca74;
}

.green__color:hover,
.green__color:focus {
	background-color: #00bc6c;
}

.green__color:active {
	box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
	background-color: #00aa62;
}

.yellow__color {
	background-color: #efc84a;
}

.yellow__color:hover,
.yellow__color:focus {
	background-color: #eab534;
}

.yellow__color:active {
	box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
	background-color: #e5a722;
}

/*-----END SERVICE-----*/

.separator {
	background-color: #eeeeee;
	border: none;

	height: 2px;
	width: 1160px;
}
/*-----ABOUT US-----*/

.about__us {
	width: 1160px;
	margin: 0 auto;
}

.about__us .two__columns {
	display: flex;
	justify-content: space-between;

	list-style: none;

	margin: 0 0 60px 0;
	padding: 0;
}

.left__column {
	width: 650px;
	padding-top: 65px;
}

.right__column {
	width: 360px;
	padding-top: 32px;
}

.about__us .subtitle {
	font-size: 45px;
	line-height: 45px;

	width: 650px;
	margin: 0;
}

.about__us .info__text {
	font-size: 16px;
	line-height: 24px;
	color: #283136;

	padding-top: 17px;
}

.about__us__img {
	background-image: url(../img/about__us__bg.jpg);

	width: 360px;
	height: 208px;
}

.services__title {
	text-transform: uppercase;
	font-weight: bold;

	padding-top: 26px;
}

.services__text {
	font-size: 16px;
	line-height: 47px;
	color: #797c7f;

	list-style: none;

	padding: 0px 0 0 1px;
}

.services__text li {
	color: #283136;

	background: url(../img/red__line.png) no-repeat left center;

	padding-left: 35px;
}

.statistic__text {
	text-transform: uppercase;
	font-weight: bold;
	text-align: center;

	padding-top: 38px;
	margin: 0;
}

.statistic {
	display: flex;
	justify-content: space-between;

	width: 391px;
	padding-top: 16px;
}

.percentage {
	font-size: 45px;
	line-height: 10px;
	font-weight: bold;

	margin-bottom: 35px;
}

.percentage sup {
	font-size: 60%;
}

.two__columns ul li:first-child {
	width: 660px;
}

.two__columns ul li:last-child {
	width: 400px;
}

.statistic li {
	width: 32%;
}
/*----END ABOUT US-----*/

/*-----PORTFOLIO-----*/
.portfolio .portfolio__list {
	display: flex;

	list-style: none;

	width: 1098px;
	padding: 0 0 37px 0;
	margin: 0 auto;
}

.portfolio__list li:first-child {
	padding-top: 54px;
	padding-right: 49px;
}

.portfolio__list li:nth-child(3) {
	padding-top: 38px;
	padding-left: 45px;
	padding-right: 44px;
}

.portfolio__list li:nth-child(5) {
	padding-top: 58px;
	padding-left: 57px;
	padding-right: 56px;
}

.portfolio__list li:last-child {
	padding-top: 43px;
	padding-left: 62px;
}

.portfolio img {
	display: block;
}

.portfolio__item {
	opacity: 0.2;
}

.portfolio__item:hover,
.portfolio__item:focus {
	opacity: 1;
}

.portfolio__item:active {
	opacity: 0.1;
}

.vertical__separator {
	background-color: #eeeeee;
	border: none;

	width: 2px;
	height: 52px;
	margin-top: 56px;
}
/*-----END PORTFOLIO-----*/

/*-----MAP-----*/
.map {

	margin-top: 80px;
}

.address__block {
	position: absolute;
	
	width: 201px;
	padding-left: 50px;
	padding-right: 69px;
	margin-top: -365px;
	margin-left: 95px;

	background-color: #ffffff;
}

.address__title {
	color: #000000;
	font-size: 18px;
	font-weight: 700;
	line-height: 30px;
	text-transform: uppercase;

	padding-top: 30px;
}

.address__text {
	color: #666666;
	font-family: Roboto;
	font-size: 16px;
	font-weight: 400;
	line-height: 18px;

	padding-top: 4px;
}

.address__block__btn {
	display: block;

	text-decoration: none;
	color: #ffffff;
	text-transform: uppercase;
	text-align: center;

	background-color: #fb565a; 
	border-radius: 4px;

	width: 219px;
	padding: 16px 0;
	margin: 36px 0 47px 0;
	
}
/*-----END MAP-----*/

/*-----CONTACT US-----*/
.contact__modal {
	display: none;
	position: fixed;
	top: 50%;
	left: 50%;

	width: 760px;
	padding: 67px 100px 84px 100px;
	margin-top: -300px;
	margin-left: -481px;
	
	background-color: #ffffff;
	box-shadow: 0 20px 40px rgba(0, 1, 1, 0.75);
}

.modal__show {
	display: block;
}

.contact__modal h2 {
	font-size: 45px;
	font-weight: 500;
	line-height: 45px;

	margin: 0;
	padding-bottom: 41px;
}

.contact__form ul {
	display: flex;
	justify-content: space-between;

	list-style: none;

	padding: 0;
	margin: 0;
}

.name__field, 
.email__field {
	width: 360px;
	height: 50px;

	box-sizing: border-box;	
}

.textarea__field {
	width: 760px;
	height: 118px;
	padding-top: 10px;

	box-sizing: border-box;
}

.input__title {
	display: block;

	font-size: 16px;
	font-weight: 700;
	line-height: 18px;

	padding-bottom: 9px;
}

.input__field {
	border: 2px solid #d7dcde;
	border-radius: 5px;
	background-color: #ffffff;
	
	padding-left: 13px;
}

.input__field:hover {
	border: 2px solid #b4b9bb;
}

.input__field:focus {
	border: 2px solid #000000;
}

.textarea__title {
	padding-top: 34px;
}

.contact__form INPUT[type="text"] {
	color: #444444;
	font-size: 16px;
	font-weight: 400;
	line-height: 18px;
}

.contact__form textarea::placeholder {
	color: #444444;
	opacity: 0.5;
}

.submit__btn {
	display: block;
	
	border: none;
	border-radius: 5px;
	background-color: #fb565a;
	
	font-size: 16px;
	font-weight: 500;
	line-height: 18px;
	color:#ffffff;
	text-transform: uppercase;

	width: 260px;
	height: 50px;
	margin-top: 47px;
}

.close {
	position: absolute;
	right: 85px;
	top: 75px;
	width: 32px;
	height: 32px;
	opacity: 0.3;
}
.close:hover,
.close:focus {
	opacity: 1;
}

.close:active {
	opacity: 0.1;
}

.close:before, .close:after {
	position: absolute;
	left: 15px;
	content: ' ';
	height: 26px;
	width: 4px;
	background-color: #fb565a;
}
.close:before {
	transform: rotate(45deg);
}
.close:after {
	transform: rotate(-45deg);
}
/*-----END CONTACT US-----*/

/*-----FOOTER-----*/
.main__footer {
	display: flex;

	width: 1160px;
	margin: 0 auto;
}

.social__list {
	display: flex;
	justify-content: space-between;
	
	list-style: none;

	width: 260px;
	padding: 48px 0 0 0;
}

.social__button {
	display: flex;
	align-items: center;
	justify-content: center;

	width: 79px;
	height: 79px;

	background-color: #e1e1e1;
	border-radius: 50%;
}

.social__button:hover,
.social__button:focus {
	background-color: #e74246;
}

.social__button:active {
	fill-opacity: 0.3;
	background-color: #d7373b;
}

.discount__text {
	padding-top: 46px;
	padding-left: 139px;
}

.discount__text h2 {
	font-size: 36px;
	font-weight: 700;
	line-height: 36px;
	
	margin-top: 24px;
	margin-bottom: 10px;
}

.discount__text p {
	color: #444444;
	font-size: 16px;
	font-weight: 400;
	line-height: 22px;

	margin: 0;
}

/*----END FOOTER-----*/

/*-----CATALOG-----*/
.inner__template {
	display: flex;

	list-style: none;

	width: 1200px;
	margin: 0 auto;
}

.filter__list {
	padding-top: 58px;
	padding-right: 138px;
	padding-left: 18px;
}

.catalog__filter {
	display: flex;
	align-items: center;
	justify-content: space-between;	

	padding-top: 37px;
}

.filter__column h3 {
	text-transform: uppercase;
}

.main__filter__list {
	display: flex;

	list-style: none;
	font-size: 14px;
	font-weight: 400;
	line-height: 18px;

	width: 360px;
	padding-top: 5px;
}

.main__filter__list a {
	color: #000000;
	opacity: 0.3;
}

.main__filter__list a:hover,
.main__filter__list a:focus {
	color: #000000;
	opacity: 0.6;
}

.main__filter__list a:active {
	color: #000000;
	opacity: 1;
}

a.dir__arrow {
	opacity: 0.3;	
}

a.dir__arrow:hover,
a.dir__arrow:focus {
	opacity: 0.6;	
}

a.dir__arrow:active {
	opacity: 1;	
}

.main__filter__list li:first-child {
	padding-right: 26px;
}

.main__filter__list li:nth-child(3) {
	padding-left: 27px;
	padding-right: 46px;
}

.down__arrow {
	padding-right: 15px;
}

.inner__title {
	text-align: center;
	color: #000000;
	font-size: 55px;
	font-weight: 500;
	line-height: 55px;

	background-color: #eeeeee;

	padding: 77px 0 109px 0;
	margin: 0;
}

.filter__item {
	border: none;

	width: 260px;
	padding: 0;
	/*	margin: 50px auto; */
}

.range__filter {
	width: 260px;
	margin-top: 49px;
	padding-bottom: 50px;
}

.filter__item legend {
	font-size: 18px;
	line-height: 24px;
	text-transform: uppercase;
	font-weight: 700;
}

.range__controls {
	position: relative;

	height: 41px;
	margin-bottom: 15px;
	padding-top: 40px;
	padding-right: 20px;
	padding-left: 20px;

	background-color: #f1f1f1;

	border-radius: 5px;
}

.range__controls .scale {
	height: 2px;

	background: #d7dcde;
}

.range__controls .bar {
	width: 70%;
	height: 2px;

	background: #00ca74;
}

.range__controls .toggle {
	position: absolute;
	top: 31px;
	left: 0;

	width: 4px;
	height: 4px;
	padding: 0;

	border: 8px solid #ffffff;
	background-color: #ababab;
	box-shadow: 0 2px 1px 0 #cfcfcf;
	border-radius: 50%;
	cursor: pointer;
}

.range__controls .toggle__min {
	left: 18px;
}

.range__controls .toggle__max {
	left: 160px;
}

.price__controls {
	font-size: 0;
}

.price__controls label {
	display: inline-block;
	width: 50%;

	font-size: 16px;
	text-transform: uppercase;
}

.price__controls input {
	width: 60px;
	padding: 8px 10px;
	margin-left: 10px;

	font-size: 16px;
	text-align: center;
	color: #283136;

	border: none;
	border-radius: 5px;
	background: #f1f1f1;
}

.max__price {
	text-align: right;
}

.filter__item ul {
	list-style: none;
}

.radio__title {
	padding-top: 11px;
}

.radio__list {
	color: #283136;
	line-height: 20px;
	font-size: 16px;

	padding: 16px 0 16px 0;
	margin: 0 0 0 -4px;
}

.radio__list .filter__option {
	line-height: 19px;
}

.radio__list label {
	padding-top: 2px;
	margin-left: -4px;
}

.filter__input {
	color: #283136;
}

.filter__option {
	margin-bottom: 19px;
	padding-left: 45px;
}

.filter__option label {
	position: relative;

	display: block;

	cursor: pointer;
	user-select: none;
}

.checkbox__title {
	padding-top: 15px;
}

.checkbox__list {
	padding: 17px 0 0 0;
	margin: 0;
}

.checkbox__list .filter__option {
	padding-left: 41px;
	line-height: 21px;
}

.filter__input__checkbox:not(:checked) + label::before {
	content: "";
	position: absolute;
	left: -40px;
	top: 0;

	width: 27px;
	height: 23px;
	
	background-image: url("../img/icons/checkbox-off.png");
	background-repeat: no-repeat;
	background-position: 0 0;
}

.filter__input__checkbox:checked + label::after {
	content: "";

	position: absolute;
	top: 0;
	left: -40px;

	width: 27px;
	height: 23px;

	background-image: url("../img/icons/checkbox-on.png");
	background-repeat: no-repeat;
}

.filter__input__checkbox:hover:not(:disabled) + label::before,
.filter__input__checkbox:focus + label::before {
	content: "";

	position: absolute;
	top: 0;
	left: -40px;

	width: 27px;
	height: 23px;

	background-image: url("../img/icons/checkbox-off-hover.png");
	background-repeat: no-repeat;
}

.filter__input__checkbox:checked:hover + label::after,
.filter__input__checkbox:checked:focus + label::after {
	content: "";

	position: absolute;
	top: 0;
	left: -40px;

	width: 27px;
	height: 23px;

	background-image: url("../img/icons/checkbox-hover-checked.png");
	background-repeat: no-repeat;
}

.filter__input__checkbox:checked:disabled + label::after {
	content: "";

	position: absolute;
	top: 0;
	left: -40px;

	width: 27px;
	height: 23px;

	background-image: url("../img/icons/checkbox-on-disabled.png");
	background-repeat: no-repeat;
}

.filter__input__checkbox:disabled:not(:checked) + label::before {
	content: "";

	position: absolute;
	top: 0;
	left: -40px;

	width: 27px;
	height: 23px;

	background-image: url("../img/icons/checkbox-off-disabled.png");
	background-repeat: no-repeat;
}

.filter__input__radio + label::before {
	content: "";
	position: absolute;
	left: -36px;
	top: 0;

	width: 25px;
	height: 25px;

	border: 4px solid #b8b8b8;
	border-radius: 50px;
	box-sizing: border-box;
}

.filter__input__radio:hover + label::before,
.filter__input__radio:focus + label::before {
	content: "";
	position: absolute;
	left: -36px;
	top: 0;

	width: 25px;
	height: 25px;

	border: 4px solid #4d4d4d;
	border-radius: 50px;
	box-sizing: border-box;
}

.filter__input__radio:checked:hover + label::after,
.filter__input__radio:checked:focus + label::after {
	content: "";

	position: absolute;
	top: 8px;
	left: -28px;

	width: 9px;
	height: 9px;

	background-color: #4d4d4d;
	border-radius: 50px;
}

.filter__input__radio:disabled + label::before {
	content: "";
	position: absolute;
	left: -36px;
	top: 0;

	width: 25px;
	height: 25px;

	border: 4px solid #efefef;
	border-radius: 50px;
	box-sizing: border-box;
}

.filter__input__radio:disabled:checked + label::after {
	content: "";

	position: absolute;
	top: 8px;
	left: -28px;

	width: 9px;
	height: 9px;

	background-color: #ededed;
	border-radius: 50px;
}

input:disabled+label {
	color: #ededed;
}

.filter__input__radio:checked + label::after {
	content: "";

	position: absolute;
	top: 8px;
	left: -28px;

	width: 9px;
	height: 9px;

	background-color: #b8b8b8;
	border-radius: 50px;
}


.main__filter__list {
	text-transform: uppercase;
}

.main__filter__list a {
	text-decoration: none;
}

.catalog__list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

	list-style: none;


	width: 760px;
	padding: 0;
}

.catalog__item {
	padding-top: 31px;
}

.catalog__item:first-child,
.catalog__item:nth-child(2) {
	padding-top: 20px;
}

.catalog__item img {
	padding-top: 39px;
}

.item__header {
	position: absolute;
	display: flex;

	list-style: none;

	width: 360px;
	height: 40px;

	background-color: #eaeaea;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;	
	padding: 0;
}

.item__header li {
	background-color: #ffffff;
	border-radius: 50%;

	width: 14px;
	height: 14px;
	margin: 14px -7px 0 16px;
}

.catalog__item:hover .item__header, 
.catalog__item:focus .item__header {
	background-color: #4d4d4d;
}

.item__description {
	position: absolute;
	opacity: 0;

	text-align: center;

	width: 360px;
	margin-top: -234px;
	padding-bottom: 57px;

	background-color: #eeeeee;
}

.catalog__item:hover .item__description {
	opacity: 1;
}

.description__title {
	color: #000000;
	font-size: 18px;
	font-weight: 700;
	line-height: 30px;
	text-transform: uppercase;

	padding: 27px 0 15px 0;
	margin: 0;
}

.description__text {
	color: #666666;
	font-size: 16px;
	font-weight: 400;
	line-height: 18px;

	min-width: 208px;
	max-width: 227px;
	padding-bottom: 46px;
	margin: 0 auto;
}

.description__btn {
	color: #ffffff;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: 500;

	background-color: #fb565a;
	border-radius: 3px;

	padding: 15px 60px 16px 61px;
}

.description__btn:hover,
.description__btn:focus {
	background-color: #e74246;
}

.description__btn:active {
	box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
	background-color: #d7373b;
}

.filter__button {
	background-color: #eeeeee;
	border: none;

	text-transform: uppercase;
	font-size: 16px;
	font-weight: 500;

	padding: 17px 90px 13px 89px;
	margin: 31px 0 0 20px;
}

.filter__button:hover,
.filter__button:focus {
	background-color: #dfdfdf;
}

.filter__button:active {
	box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
	background-color: #d5d5d5;
	color: rgba(0, 0, 0, 0.3);
}

.page__list {
	display: flex;
	justify-content: space-between;

	list-style: none;
	
	width: 443px;
	padding: 56px 0 0 0; 
}

.page__list a {
	text-decoration: none;
	font-weight: 500px;
	color: #000000;

	background-color: #eeeeee;
	border: 3px solid #eeeeee;
	border-radius: 3px;

	padding: 13px 17px 12px 17px;
}

a.active__link {
	background-color: #ffffff;
	border: 3px solid #dbdbdb;

	padding: 13px 18px 12px 18px;
}

a.next {
	padding: 13px 75px 12px 75px;
	text-transform: uppercase;
}

.inner__map {
	margin-top: 60px;
}